@import "bourbon/bourbon"

body
	font-family: "RobotoCondensed-Light";
	font-weight: normal
	font-size: 22px
	position: relative
	margin: 0
	padding: 0
	text-align: center
$yellow-color: #fcc83b
.container
	width: 1000px
	padding: 0 15px
	margin: 0 auto
h2 
	font-size: 40px
	font-family: "ATRIA-BOLD";
	margin-top: 0

section
	padding: 70px 0
header
	background-image: url("../img/header-bg.jpg")
	background-size: cover
	background-position: center
	color: #fff
	padding: 40px 0 70px
	.title
		font-size: 23px
	h1 
		font-size: 45px
		font-family: "ATRIA-BOLD";
		span 
			font-size: 25px
			font-family: "RobotoCondensed-Bold";
			color: $yellow-color
	.descr
		font-size: 23px
		font-family: "RobotoCondensed-Bold";
	.start
		padding: 35px 40px 20px
		font-family: "RobotoCondensed-Light";
		display: inline-block
		background: url("../img/clock.png") center bottom no-repeat
		p 
			margin: 0
		span
			color: $yellow-color
			font-size: 30px
			font-family: "RobotoCondensed-Bold";
#about-course
	background-color: #FFF
	.facts
		text-align: center
		background: url("../img/dotted-line.png") no-repeat center bottom
		padding-bottom: 60px
		.descr-wrap
			margin: 20px 0
			img 
				display: inline-block
				margin-right: 30px
			p 
				font-family: "RobotoCondensed-Regular";
				width: 660px
				display: inline-block
				text-align: left
				margin: 0
	.questions
		font-family: "RobotoCondensed-Regular";
		padding: 50px 0
		background: url("../img/dotted-line.png") no-repeat center bottom
		.question-wrap
			display: inline-block
			vertical-align: top
			margin: 0 50px
	.i-help
		padding-top: 60px


